---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";


import { Image } from "astro:assets";

import caura from "../../images/centro-empresarial-guayana.jpg";
---

<style>
    section {
        padding: 3rem 1rem;
    }

    .section-container {
        max-width: 1216px;
        margin: 0 auto;

    }

    .section-block:first-child {
        padding-bottom: 2rem;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.25;
        margin-bottom: 1rem;
    }

    p.intro-text {
        font-size: 1.125rem;
        line-height: 1.75;

        color: #505050;
    }

    ul {
        padding-left: 1rem;
        color: #505050;
    }

    ul li {
        line-height: 1.75;
    }

    ul li span {
        font-weight: 500;
        color: #333333;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .block-container:nth-child(1) {
        margin-bottom: 2rem;
    }


    @media only screen and (min-width: 600px) {
        section{
            padding: 4rem 2rem;
        }
    }

    @media only screen and (min-width: 900px) {

        .section-container{
            display: flex;
            gap: 8rem;
        }

        .block-container {
            flex: 1;
        }

        h1{
            font-size: 4rem;
            letter-spacing: -0.19rem;
        }

        p.intro-text{
            /* font-size: 1.25rem; */
        }
    }
</style>

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <section>
            <div class="section-container">
                <div class="block-container">
                    <div class="section-block">
                        <h1>Centro Comercial Caura</h1>
                        <p class="intro-text">
                            Ubicado en la Carrera Tocoma y Calle Caura del sector Alta vista Norte, Puerto Ordaz; Amplio centro comercial con diversas opciones para el alquiler y compra de locales u oficinas.
                        </p>
                    </div>

                    <div class="section-block">
                        <h2>Contáctanos</h2>
                        <ul>
                            <li>
                                Correo Electrónico: tuemail@canteraladanta.com
                            </li>
                            <li>Teléfono: (XXX) XXX-XXXX</li>
                            <li>
                                Ubicación Física: En la vía entre Puerto Ordaz y
                                Ciudad Bolívar, a 30 km de Puerto Ordaz.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="block-container">
                    <Image
                    src={caura}
                    alt="Centro empresarial Caura"
                    width={1000}
                    height={700}
                />
                </div>
            </div>
        </section>
        <Footer />
    </body>
</html>
