---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Herobox from '../sections/Herobox.astro';
import Empresas from '../sections/Empresas.astro';
import Inmuebles from '../sections/Inmuebles.astro';
import Banner from '../sections/Banner.astro';
import Libro from '../sections/Libro.astro';
import Noticias from '../sections/Noticias.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<Herobox />
		<Empresas />
		<Inmuebles />
		<Banner />
		<Libro />
		<Noticias />
		<Footer />
	</body>
</html>
