---
const today = new Date();
---

<style>
	footer {
		border-top: 1px solid #CCCCCC;
	}

	.footer-section{
		max-width: 1216px;
		margin: 0 auto;
		padding: 4rem 1rem;
		padding-bottom: 1rem;
		
	}

	.footer-container {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem;

		margin-bottom: 3rem;
	}

	.container-block {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.container-block p {
		font-weight: 500;
	}

	.container-block a {
		text-decoration: none;
		color: #505050;
	}

	h2 {
		margin-bottom: 1rem;
	}

	.footer-foot {
		margin-bottom: 4rem;

	}

	.end {
		text-align: center;
		font-size: 0.875rem;
		color: #505050;
		padding-top: 1rem;

		border-top: 1px solid #cccccc;
	}

	@media only screen and (min-width: 600px) {

		.footer-section{
			padding: 6rem 1rem;
			padding-bottom: 1rem;

		}
		h2{
			margin-bottom: 2rem;
		}

		.end{
			text-align: left;
		}
	}

	@media only screen and (min-width: 900px) {
		.footer-section {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			gap: 3rem;
		}

		.footer-container {
			max-width: 700px;
		}

		.footer-foot {
			max-width: 448px;
		}
	}
</style>

<footer>
	<div class="footer-section">
		<div class="footer-container">
			<div class="container-block">
				<p class="block-title">Sobre Nosotros</p>
				<a href="#">Nuestra Historia</a>
				<a href="#">Noticias y comunicados</a>
				<a href="#">Libro Anibal Morgado</a>
			</div>
			<div class="container-block">
				<p class="block-title">Empresas actuales</p>
				<a href="#">Cantera la Danta</a>
				<a href="#">Somix, CA.</a>
			</div>
			<div class="container-block">
				<p class="block-title">Inmuebles disponibles</p>
				<a href="#">Torre CEM</a>
				<a href="#">Centro Empresarial Guayana</a>
				<a href="#">Centro Comercial Chilemex</a>
				<a href="#">Centro Comercial Caura</a>
			</div>
		</div>

		<div class="footer-foot">
			<h2>Corporación Empresas Morgado</h2>
			<p>
				Orgullosos de haber contruibuido a la construcción de la Guayana
				moderna
			</p>
		</div>
	</div>

	<div class="end">
		&copy; {today.getFullYear()} Your name here. All rights reserved.
	</div>
</footer>
