---

---

<style>
    section {
        padding: 3rem 1rem;
        text-align: center;
        background-image: url(/morgado-astro/images/guayana-blue-bg.webp);
        background-size: cover;
        background-position: center;

        color: #ffffff;
    }

    h2 {
        margin-bottom: 1rem;
        color: #ffffff;
    }

    p {
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
    }

    .button {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 6px;
        background-color: #9d4949;

        padding: 0.5rem 1rem;
        border-radius: 22px;
    }

    a svg {
        transform: translateY(1.5px);
    }

    @media only screen and (min-width: 600px){
        section {
            padding: 3rem 2rem;
        }
        .banner{
            max-width: 640px;
            margin: 0 auto;
        }

        h2{
            margin-bottom: 1rem;
        }
    
        p{
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
        }
    }

    @media only screen and (min-width: 900px){
        section {
            padding: 4rem 2rem;
        }

    }
</style>

<section>
    <div class="banner">
        <h2>Impulsamos la creación de la Guayana moderna</h2>
        <p>
            Nos consolidamos como un conglomerado de empresas, tanto propias
            como en alianza con socios privados y públicos, desempeñando un
            papel activo en el crecimiento, desarrollo y progreso de Guayana.
        </p>

        <div class="button">
            <a href="/morgado-astro/nosotros"
                >Nuestra historia <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M8.75572 13.0909L7.88072 12.2273L11.483 8.62503H2.15344V7.37503H11.483L7.88072 3.78412L8.75572 2.90912L13.8466 8.00003L8.75572 13.0909Z"
                        fill="#FFFFFF"></path>
                </svg></a
            >
            
        </div>
    </div>
</section>
