---
import { Image } from "astro:assets";
import laDantaImage from "../images/cantera-la-danta.jpg";
import somixImage from "../images/somix.jpg";
---

<style>
    section {
        padding: 0 1rem;
    }

    .section-container {
        max-width: 1216px;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 1rem;
    }

    .empresas-intro {
        text-align: center;
        padding: 3rem 0;
        border-bottom: 1px solid #cccccc;
    }

    .empresas-intro-content {
        max-width: 640px;
        margin: 0 auto;
    }

    .empresas-intro p {
        font-size: 1.125rem;
    }

    .empresas-activas {
        display: flex;
        flex-direction: column;
    }

    .empresa {
        border-bottom: 1px solid #cccccc;
        padding: 3rem 0;
    }

    .empresa-intro h3 {
        margin-bottom: 0.5rem;
    }

    /* .empresa-intro {
        padding-bottom: 1rem;
    } */

    .empresa-intro p {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .empresa:nth-child(2) {
        border: none;
    }

    .empresa-text {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .empresas-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .empresas-links > * {
        align-self: flex-start;
        line-height: 1.75;
        padding: 0.5rem 1rem;
        border-radius: 22px;
    }

    .empresas-links a.contacto {
        background-color: transparent;
        border: 1px solid #cccccc;
        color: #505050;
    }

    .empresas-links a.mas {
        background-color: var(--blue);
        color: #ffffff;
        text-decoration: none;
        display: flex;
        gap: 6px;
        align-items: center;
    }

    .empresas-links a svg {
        transform: translateY(1.5px);
    }

    .descubre {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 2rem 0;
        gap: 1rem;

        color: #505050;
        text-decoration: none;
        text-align: right;
    }

    @media only screen and (min-width: 600px) {
        section {
            padding: 0 2rem;
        }
    }

    @media only screen and (min-width: 900px) {
        .empresas-intro {
            padding: 4rem 0;
        }

        .empresa {
            display: flex;
            gap: 6rem;
            padding: 4rem 0;
        }

        .empresa-intro p {
            font-size: 1.25rem;
        }

        .empresa-img img {
            width: 100%;
            height: 100%;
            min-width: 488px;
            max-height: 366px;
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="empresas-intro">
            <div class="empresas-intro-content">
                <h2>Pioneros en el sector construcción de Guayana</h2>
                <p>
                    Conoce las empresas que forman parte de nuestra historia,
                    diseñadas para satisfacer las demandas del mercado actual y
                    potenciar el crecimiento de Venezuela.
                </p>
            </div>
        </div>

        <div class="empresas-activas">
            <div class="empresa">
                <div class="empresa-info">
                    <div class="empresa-intro">
                        <h3>Cantera La Danta</h3>
                        <p>
                            Extracción y comercialización de recursos de
                            construcción
                        </p>
                    </div>
                    <p class="empresa-text">
                        Empresa dedicada a trabajos de voladura, trituración y
                        comercialización de piedra, necesaria como insumo
                        fundamental tanto en el concreto premezclado en la
                        dosificación que exija la resistencia según su uso, como
                        en el concreto asfaltico.
                    </p>
                    <div class="empresas-links">
                        <a class="contacto">Entrar en contacto</a>
                        <a
                            class="mas"
                            href="/morgado-astro/empresas/cantera-la-danta"
                            >Saber más <svg
                                width="12"
                                height="12"
                                viewBox="0 0 12 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M6.75572 11.0909L5.88072 10.2272L9.48299 6.62497H0.153442V5.37497H9.48299L5.88072 1.78406L6.75572 0.909058L11.8466 5.99997L6.75572 11.0909Z"
                                    fill="white"></path>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="empresa-img">
                    <Image
                        src={laDantaImage}
                        alt="Cantera La Danta"
                        width={1000}
                        height={700}
                    />
                </div>
            </div>
            <div class="empresa">
                <div class="empresa-info">
                    <div class="empresa-intro">
                        <h3>Somix, CA.</h3>
                        <p>Concreto pre mezclado y bombeo de concreto</p>
                    </div>
                    <p class="empresa-text">
                        Líder en el mercado de concreto pre mezclado del estado
                        Bolívar. Exigentes controles de seguridad le han
                        otorgado la experiencia que garantiza la resistencia
                        requerida, a la par de la inquebrantable responsabilidad
                        que le asegura la entrega a tiempo en las obras
                        ejecutadas por el cliente.
                    </p>
                    <div class="empresas-links">
                        <a class="contacto">Entrar en contacto</a>
                        <a class="mas" href="/morgado-astro/empresas/somix"
                            >Saber más <svg
                                width="12"
                                height="12"
                                viewBox="0 0 12 12"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M6.75572 11.0909L5.88072 10.2272L9.48299 6.62497H0.153442V5.37497H9.48299L5.88072 1.78406L6.75572 0.909058L11.8466 5.99997L6.75572 11.0909Z"
                                    fill="white"></path>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="empresa-img">
                    <Image
                        src={somixImage}
                        alt="Cantera La Danta"
                        width={1000}
                        height={700}
                    />
                </div>
            </div>

            <!-- <a href="/morgado-astro/nosotros" class="descubre">
                <p>Descubre más sobre nuestra historia empresarial</p>
                <svg
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="24" cy="24" r="24" fill="#222973"></circle>
                    <path
                        d="M15.75 24L32.25 24"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M25.5 17.25L32.25 24L25.5 30.75"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </a> -->
        </div>
    </div>
</section>
