---

---

<style>
    section {
        padding: 0 1rem;

    }
    h2 {
        margin-bottom: 1rem;
    }

    .empresas-intro{
        text-align: center;
        padding: 4rem 0;
    }

    .empresas-intro p {
        font-size: 1.125rem;
    }

    .empresas-activas{
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }

    .empresa{
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        padding: 4rem 0;
    }

    .empresa-intro{
        padding-bottom: 2rem;
        border-bottom: 1px solid red;
    }

    .empresa-intro h3{
        margin-bottom: 1rem;
    }

    .empresa-intro p{
        font-size: 1.125rem;
    }

</style>

<section>
    <div class="empresas-intro">
        <h2>Pioneros en el sector construcción de Guayana</h2>
        <p>
            Conoce las empresas que forman parte de nuestra historia, diseñadas
            para satisfacer las demandas del mercado actual y potenciar el
            crecimiento de Venezuela.
        </p>
    </div>


    <div class="empresas-activas">
        <div class="empresa">
            <div class="empresa-intro">
                <h3>Cantera La Danta</h3>
                <p>Extracción y comercialización de recursos de construcción</p>
            </div>
            <p>Empresa dedicada a trabajos de voladura, trituración y comercialización de piedra, necesaria como insumo fundamental tanto en el concreto premezclado en la dosificación que exija la resistencia según su uso, como en el concreto asfaltico.</p>

        </div>
        <div class="empresa">
            <div class="empresa-intro">
                <h3>Somix</h3>
                <p>Concreto pre mezclado y bombeo de concreto</p>
            </div>
            <p>Líder en el mercado de concreto pre mezclado del estado Bolívar. Exigentes controles de seguridad le han otorgado la experiencia que garantiza la resistencia requerida, a la par de la inquebrantable responsabilidad que le asegura la entrega a tiempo en las obras ejecutadas por el cliente.</p>
        </div>

        <div class="descubre">
            <p>Descubre más sobre nuestra historia empresarial</p>
        </div>
    </div>
</section>
