---

---

<style>
    section {
        padding: 2rem 1rem;
        background-color: #F3F3F3;
        max-width: 1216px;
        margin: 0 auto;
    }
    .detail {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 0.875rem;
    }

    hr {
        width: 4rem;
    }

    h1 {
        margin-bottom: 1rem;
    }

    p.intro-text {
        margin-bottom: 1rem;
    }

    a {
        display: inline-block;
        border: 1px solid #cccccc;
        border-radius: 22px;
        padding: 0.5rem 1rem;

        color: #505050;

        box-sizing: border-box;

        text-decoration: none;
    }

    .intro {
        margin-bottom: 32px;
    }

    .descubre-mas {
        display: none;
    }

    @media only screen and (min-width: 600px) {
        h1 {
            margin-bottom: 2rem;
        }

        p.intro-text {
            margin-bottom: 2rem;
        }

        .descubre-mas {
            display: flex;

            align-items: center;
            gap: 1rem;

            border: none;
            background-color: transparent;
            font-size: 0.875rem;

            color: #505050;
        }
    }
</style>

<section>
    <div class="intro">
        <div class="detail">
            <hr />
            <p>1966</p>
        </div>
        <h1>Corporación Empresas Morgado</h1>
        <p class="intro-text">
            Desde su llegada a Venezuela en los años 50, la familia Morgado ha
            sido una pieza clave en el desarrollo de Ciudad Guayana y el
            crecimiento de la industria de Venzuela.
        </p>

        <a href="#">Nuestra historia -></a>
    </div>

    <div class="slider">
        <h2>Slider</h2>
    </div>

    <button class="descubre-mas">
        <svg
            width="48"
            height="48"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <circle
                cx="24"
                cy="24"
                r="24"
                transform="rotate(90 24 24)"
                fill="#222973"></circle>
            <path
                d="M24 15.75L24 32.25"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M30.75 25.5L24 32.25L17.25 25.5"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>

        <p>Descubre más sobre nosotros</p>
    </button>
</section>

<script></script>
