---
import { Image } from "astro:assets";
import libro from "../../src/images/libro.jpg";
---

<style>
    section {
        padding: 3rem 1rem;
    }

    .section-container {
        max-width: 1216px;
        margin: 0 auto;
    }

    .libro {
        max-width: 1216px;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 2rem;
        font-size: 1.125rem;
        color: #333333;
    }

    img {
        max-width: 300px;
        margin-bottom: 1.5rem;
        width: 100%;
        max-width: 300px;
    }

    button {
        background-color: var(--blue);
        color: #ffffff;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 22px;

        display: flex;
        align-items: center;
        gap: 4px;
    }

    button svg {
        transform: translateY(1.5px);
    }

    .libro-desktop {
        display: none;
    }

    @media only screen and (min-width: 600px) {
        section {
            padding: 4rem 2rem;
        }
    }

    @media only screen and (min-width: 900px) {
        section {
            padding: 4rem 2rem;
        }
        .libro-desktop {
            display: block;
        }
        .libro-mobile {
            display: none;
        }

        .section-container {
            display: flex;
        }

        .section-container > div {
            flex: 1;
        }

        h2 {
            font-size: 3rem;
            max-width: 450px;
        }

        .libro-desktop img {
            margin-left: auto;
            max-width: 400px;
        }

        p {
            margin-bottom: 1.5rem;
        }

        img {
            margin-bottom: 0;
        }
    }
</style>

<section id="libro">
    <div class="section-container">
        <div class="libro">
            <h2>Aníbal Morgado, un legado de visión y crecimiento</h2>
            <p>
                A través de sus páginas, Aníbal comparte las lecciones
                aprendidas a lo largo de su vida, su visión sobre el desarrollo
                de Guayana, y el papel clave que jugó en la modernización de la
                región.
            </p>
            <Image
                class="libro-mobile"
                src={libro}
                alt="Libro"
                width={1000}
                height={700}
            />

            <div class="button">
                <button
                    >Obtener el libro <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8.75572 13.0909L7.88072 12.2273L11.483 8.62503H2.15344V7.37503H11.483L7.88072 3.78412L8.75572 2.90912L13.8466 8.00003L8.75572 13.0909Z"
                            fill="#FFFFFF"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="libro-desktop">
            <Image
                class="mobile-image"
                src={libro}
                alt="Libro"
                width={1000}
                height={700}
            />
        </div>
    </div>
</section>
