---
import { getCollection, getEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<style>
    section {
        background: #f3f3f3;
        padding: 3rem 1rem;
    }

    .container {
        max-width: 1216px;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 2rem;
    }

    .numero-1 {
        display: none;
    }

    .numero-2 {
        display: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .noticia {
        background-color: #fff;
    }

    .info-noticia {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* height: 100%; */
    }

    h4 {
        font-size: 1rem;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        line-height: 1.5;
    }

    a.descubre {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 2rem 0;
        padding-bottom: 0;
        gap: 1rem;

        color: #505050;
        text-decoration: none;
        text-align: right;
    }

    li a {
        text-decoration: none;
    }

    .title {
        line-height: 1.5;
        color: #333;
        margin-bottom: 1rem;
    }

    .description {
        line-height: 1.75;
        color: #505050;
        font-size: 0.875rem;
        margin-bottom: 3rem;
    }

    .image-container {
        aspect-ratio: 21/9;
    }

    li img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .button {
        font-size: 1rem;
        line-height: 1.75;
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        color: #505050;
        border-radius: 22px;
        align-self: flex-start;
    }

    @media only screen and (min-width: 600px) {
        section{
            padding: 3rem 2rem;
        }
        .numero-1 {
            display: block;
        }
        ul {
            display: flex;
            gap: 1rem;
        }

        ul li {
            flex: 1;
        }
    }
    @media only screen and (min-width: 900px) {
        section{
            padding: 4rem 2rem;
        }
        .numero-2 {
            display: block;
        }

        ul {
            gap: 2rem;
        }
    }
</style>

<section>
    <div class="container">
        <div class="noticias">
            <h2>Noticias y comunicados</h2>
        </div>

        <div class="lista-de-noticias">
            <ul>
                {
                    posts.slice(0, 3).map((post, index) => (
                        <li class={"noticia numero-" + index.toString()}>
                            <a href={`/morgado-astro/blog/${post.slug}/`}>
                            <div class="image-container">
                                <img
                                    width={720}
                                    height={360}
                                    src={post.data.heroImage}
                                    alt={post.data.title}
                                />
                            </div>
                                <div class="info-noticia">
                                    <h4 class="title">
                                        {post.data.title.split(" ").length > 6
                                            ? post.data.title
                                                    .split(" ")
                                                    .slice(0, 5)
                                                    .join(" ") +
                                                  "..."
                                            : post.data.title}
                                    </h4>
                                    <p class="description">
                                        {post.data.description
                                            .split(" ")
                                            .slice(0, 20)
                                            .join(" ") +
                                            (post.data.description.split(" ")
                                                .length > 20
                                                ? "..."
                                                : "")}
                                    </p>

                                    <a
                                        href={`/morgado-astro/blog/${post.slug}/`}
                                        class="button"
                                    >
                                        Leer más ->
                                    </a>
                                </div>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>

        <a href="/morgado-astro/noticias/" class="descubre">
            <p>Ver todas las noticias y comunicados</p>
            <svg
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <circle cx="24" cy="24" r="24" fill="#222973"></circle>
                <path
                    d="M15.75 24L32.25 24"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M25.5 17.25L32.25 24L25.5 30.75"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </a>
    </div>
</section>
